# Week 2 - Monday Lesson (variable assignment, loops, lists)



## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [83]:
int (10)

10

##### Assinging float

In [84]:
float(3.5)

3.5

#### Performing Calculations on ints and floats

##### Addition

In [85]:
int(10)+float(3.5)

13.5

##### Subtraction

In [86]:
int(10)-int(3)

7

##### Multiplication

In [87]:
int(10)*int(3)

30

##### Division

In [88]:
int(10)/int(3)

3.3333333333333335

##### Floor Division

In [89]:
a = 10
b = 3
print(a//b)

3

##### Modulo

In [90]:
remainder = 10%3
print ("Remainder:", remainder)

Remainder: 1

##### Exponential

In [91]:
import math
x = 5
y = 5
result = math.pow(x, y)
print("Exponential value is:", result)

Exponential value is: 3125.0

### String Input-Output

##### String Assignment

In [1]:


my_string = "Olu programmer!"

##### print() <br>
<p>Don't forget about end=' '</p>

In [93]:

print(my_string)

Olu programmer!

##### String Concatenation

In [94]:
string1 = "Olu"
string2 = "Jegs"
concatenated_string = string1 + ", " + string2

print(concatenated_string)

Olu, Jegs

##### Type Conversion

In [95]:

num_int = 123
num_str = str(num_int)
print("String:", num_str)

String: 123

##### input()

In [96]:
input("olu:")

''

##### format()

In [1]:
pi = 3.14159265359
print("The value of pi is {:.2f}".format(pi))

The value of pi is 3.14

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [2]:
color = input("Enter the color of the car: ")
year = input("Enter the year of the car: ")
make = input("Enter the make of the car: ")
model = input("Enter the model of the car: ")

car_info = f"The car is a {black} {2024} {GMC} {Acadia}."

print(car_info)

Enter the color of the car: black
Enter the year of the car: 2019
Enter the make of the car: GMC
Enter the model of the car: Acadia

NameError: name 'black' is not defined

### If Statements

In [98]:

x = 10
if x > 5:
    print("x is greater than 5")
else:
    print("x is not greater than 5")

x is greater than 5

##### 'is' keyword

In [99]:
print("x is greater than 5")

x is greater than 5

##### 'in' keyword

In [100]:
my_list = [1, 2, 3, 4, 5]
if 3 in my_list:
    print("3 is present in the list")
else:
    print("3 is not present in the list")

3 is present in the list

##### 'not in' keyword'

In [101]:
print("3 is not present in the list")

3 is not present in the list

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [13]:

user_input = input("Cup:")


if 'p' in user_input:
    print("The letter 'p' is present in the input.")
else:
    print("The letter 'p' is not present in the input.")

Cup:
The letter 'p' is not present in the input.

## Using 'and'/'or' with If Statements

In [12]:

x = 5
y = 10

if x > 0 and y > 0:
    print("Both x and y are positive.")


name = "Alice"
age = 25

if name == "Alice" or age == 25:
    print("Either the name is Alice or the age is 25.")

Both x and y are positive.
Either the name is Alice or the age is 25.

### Elif Statements

In [11]:
x = 10

if x > 10:
    print("x is greater than 10")
elif x < 10:
    print("x is less than 10")
else:
    print("x is equal to 10")

x is equal to 10

### For Loops

In [10]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

##### Using 'in' keyword

In [9]:
text = "hello world"

if "world" in text:
    print("Substring found")
else:
    print("Substring not found")

Substring found

##### Continue Statement

In [ ]:
for i in range(1, 11):
    if i == 6:
        continue
    print(i, end=" ")

1 2 3 4 5 7 8 9 10

##### Break Statement

In [ ]:

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for number in numbers:
    print(number)
    if number == 5:
        break  

print("Loop ended")

1
2
3
4
5
Loop ended

##### Pass Statement

In [ ]:
for i in range(5):
    if i == 3:
        pass  
    else:
        print(i)

0
1
2
4

##### Double For Loops

In [ ]:
matrix = [[1, 2, 3],
          [4, 5, 6],
          [7, 8, 9]]

for row in matrix:
    for element in row:
        print(element, end=' ')
    print()

1 2 3
4 5 6
7 8 9

### While Loops

In [ ]:
count = 0
while count < 5:
    print("Count:", count)
    count += 1

Count: 0
Count: 1
Count: 2
Count: 3
Count: 4

##### Looping 'While True'

In [ ]:
while True:
  
    user_input = input("Enter 'quit' to exit: ")
    if user_input.lower() == 'quit':
        break  
    else:
        print("You entered:", user_input)

##### While & For Loops Used Together

In [ ]:

count = 0  
while count < 3: 
    print("Outer loop iteration:", count)
    for i in range(2): 
        print("Inner loop iteration:", i)
    count += 1  

print("Loop execution complete.")

Outer loop iteration: 0
Inner loop iteration: 0
Inner loop iteration: 1
Outer loop iteration: 1
Inner loop iteration: 0
Inner loop iteration: 1
Outer loop iteration: 2
Inner loop iteration: 0
Inner loop iteration: 1
Loop execution complete.

### Built-In Functions

##### range()

In [ ]:
for i in range(2, 5):
    print(i)

2
3
4

##### len()

In [ ]:
text = "Hello, World!"
length = len(text)
print(length)

13

##### help()

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

##### isinstance()

In [8]:
class MyClass:
    pass

obj = MyClass()
print(isinstance(obj, MyClass))

True

##### abs()

In [ ]:
print(abs(-5))

5

### Try and Except

In [7]:
try:
    num = int(input("5:"))
    result = 10 / num
    print("Result:", result)
except ZeroDivisionError:
    print("Error: Cannot divide by zero")
except ValueError:
    print("Error: Please enter a valid number")

5:7
Result: 1.4285714285714286

### Lists

##### Declaring Lists

In [6]:
my_list = [10, 20, 30, 40, 50]

print(my_list[0])  # Output: 10
print(my_list[2])  # Output: 30
print(my_list[-1])  # Output: 50

10
30
50

##### Indexing a List

In [5]:
my_list = ['a', 'b', 'c', 'd', 'e']


print(my_list[0])   # Output: 'a'
print(my_list[2])   # Output: 'c'
print(my_list[-1])  # Output: 'e'


print(my_list[1:3])    # Output: ['b', 'c'] (inclusive:exclusive)
print(my_list[:3])     # Output: ['a', 'b', 'c'] (from beginning to index 3)
print(my_list[2:])     # Output: ['c', 'd', 'e'] (from index 2 to end)
print(my_list[:])      # Output: ['a', 'b', 'c', 'd', 'e'] (copy of the entire list)


print(my_list[-3:])    # Output: ['c', 'd', 'e'] (last 3 elements)

a
c
e
['b', 'c']
['a', 'b', 'c']
['c', 'd', 'e']
['a', 'b', 'c', 'd', 'e']
['c', 'd', 'e']

##### .append()

In [ ]:
numbers = [1, 2, 3]
numbers.append(4)
print(numbers)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

##### .insert()

In [ ]:
my_list = [1, 2, 3, 4]
my_list.insert(2, 10) 
print(my_list)

[1, 2, 10, 3, 4]

##### .pop()

In [ ]:
my_list = [1, 2, 3, 4]
removed_element = my_list.pop() 
print(my_list)  
print(removed_element)

[1, 2, 3]
4


##### .remove()

In [ ]:
my_list = [1, 2, 3, 4]
my_list.remove(3) 
print(my_list)

[1, 2, 4]

##### del()

In [ ]:
my_list = [1, 2, 3, 4]
del my_list[1]  
print(my_list)

[1, 3, 4]

##### Concatenating Two Lists

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
concatenated_list = list1 + list2
print(concatenated_list)

[1, 2, 3, 4, 5, 6]

##### Lists Within Lists

In [ ]:
nested_list = [[1, 2], [3, 4], [5, 6]]
print(nested_list[1])  
print(nested_list[1][0])

[3, 4]
3

##### Looping Through Lists

In [ ]:
my_list = [1, 2, 3, 4, 5]
for item in my_list:
    print(item)

1
2
3
4
5

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [ ]:

max_value = 1000

number = 1

while True:
    cube = number ** 3
    if cube > max_value:
        break
    print(cube)
    number += 1

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [4]:

def is_prime(n):
    if n <= 1:
        return False
    elif n <= 3:
        return True
    elif n % 2 == 0 or n % 3 == 0:
        return False
    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6
    return True

prime_numbers = [i for i in range(2, 101) if is_prime(i)]


print("Prime numbers up to 100:", prime_numbers)

Prime numbers up to 100: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [3]:
age = int(input("Please enter your age: "))

if age < 18:
    print("Kids")
elif 18 <= age <= 65:
    print("Adults")
else:
    print("Seniors")

Please enter your age: 39
Adults